.footer{
	text-align: center;
	padding: 2em 0;
	background: $color5 url('../img/footer_bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	@include mQ(920px){
		padding: 4em 0;
	}

	&__wrap{
		@include mQ(480px){
			padding: 0 2em;
		}
	}
	&__title{
		color: $color1;
		font-size: 2em;
		margin: 0 0 1em;
		@include mQ(920px){
			font-size: 42px;
			margin: 0 0 2em;
		}
	}
}



.connect{
	width: 80%;
	margin: 0 auto;
	@include mQ(920px){
		width: 50%;
		display: inline-block;
		text-align: left;
	}
	&__title{
		font-size: 1.5em;
		margin-bottom: 1em;
		color: $color1;
	}
	&__text{
		color: #aaa;
		width: 85%;
		margin: 0 auto;
		line-height: 1.2;
		@include mQ(920px){
			margin: 0 0 2em 0;
		}
	}
	&__posted{
		font-family: $font2;
		color: $color3;
		li{
			margin-bottom: 1em;
			@include mQ(920px){
				margin-bottom: .5em;
			}
		}
		a{
			color: $color3; 
			text-decoration: none;

			&:hover{@include opacity(0.7);}
		}	
	}	
}



.socials{
	padding: 1em 0;

	li{
		display: inline-block;
		margin-right: 14px;
	}
	&__link{
		@include icomoon;

		padding: 12px;
		border-radius: 50%;
		display: inline-block;

		font-size: 18px;
		text-decoration: none;
		color: $color1;

		&--g{
			background: #e44c41;
			&:before{content: "\e901";}
		}
		&--fb{
			background: #3b5997;
			&:before{content: "\ea90";}
		}
		&--tw{
			background: #3ec2f3;
			&:before{content: "\ea96";}
		}

		&:hover{@include opacity(0.8);}
	}
}