.form{
	position: relative;
	font-size: 16px;
	width: 80%;
	margin: 0 auto;
	&__name,
	&__text,
	&__email{
		padding: 10px 20px;
		margin-bottom: 1em;
		width: 100%;
		border: transparent;
		border-radius: 3px;
	}
	
	&__text{
		display: block;
		margin: 0 auto 1em;
		min-height: 100px;
	}
	&__submit{
		background: $color2;
		color: $color1;
		border-radius: 3px;
		font-size: 1.2em;
		border: none;
		padding: 0.3em 1em;
		cursor: pointer;

		&:hover{
			color: $color2;
			@include transition(all .3s ease-in-out);
			background: $color1;
		}
	}
	


	input.error,
	textarea.error{
		border: 1px solid red;
	}

	label.error{
		display: none!important;

		color: #a94442;
		border-color: #ebcccc;
		background-color: #f2dede;
		padding: .75rem 1.25rem;
		border-radius: .25rem;
		position: absolute;
		bottom: 0; left: 0;
	}
	
	@include mQ(920px){
		width: 50%;
		display: inline-block;
		vertical-align: top;
		text-align: right;
		padding-left: .5em;

		&__name{
			width: 48%;
			margin-right: 2%;
			// margin-bottom: 4%;
		}
		&__email{
			width: 50%;
		}
		&__text{
			margin-bottom: 4%;
			min-height: 180px;
		}
		&__submit{
			padding: 12px 3em;
		}
	}
}