@font-face {
	font-family: 'icomoon';

	src:  url('../fonts/icomoon/icomoon.eot?b7bsd5');
	src:  url('../fonts/icomoon/icomoon.eot?b7bsd5#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?b7bsd5') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?b7bsd5') format('woff'),
		url('../fonts/icomoon/icomoon.svg?b7bsd5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}