@media screen and(min-width: 480px){
	.logo{
		padding-left: 2em;
		padding-right: 2em;
	}
	.footer__wrap{padding: 0 2em;}
}
@media screen and(min-width: 640px){
	.plan,
	.member
	{
		width: 48%;
		display: inline-block;
	}
	.banner{
		&__content{
			h1{
				font-size: 62px;
			}
			span{
				width: 42%;
				font-size: 26px;
				margin: 1em auto;
			}
			a{
				padding: 18px 40px;
				font-size: 26px;
			}
		}

		&__arr{
			font-size: 52px;
		}
	}
}
@media screen and(min-width: 768px){
	.logo{
		display: inline-block;
		&__hamburger{display: none;}
	}
	.nav{
		float: right;
		padding: 0 35px 0 0;
		display: inline-block;

		// &--hidden{display: inline-block;}
		&__link{padding: 26px 1em;}
		&__elem{
			margin: 0 -4px 0 0;
			display: inline-block;
		}
	}
}
@media screen and(min-width: 920px){
	.plans{
		padding: 7em 10% 4em;
	}
	.team{
		padding: 2em 0 5em;
		h2{
			font-size: 42px;
			margin: 2em 0em 3em;
		}
	}

	.logo{
		padding: 2em 0 2em 4em;
	}
	
	.nav{
		&__link{
			font-size: 15px;
			padding: 44px 2em 42px;
		}
	}

	.footer{
		padding: 4em 0;
		&__title{
			font-size: 42px;
			margin: 0 0 2em;
		}
	}
	.connect{
		width: 48%;
		display: inline-block;
		text-align: left;
		&__posted{
			li{margin-bottom: .5em;}
		}
		&__text{
			margin: 0 0 2em 0;
		}
	}
	.form{
		width: 48%;
		display: inline-block;
		vertical-align: top;
		text-align: right;
		padding-left: .5em;

		&__name{
			width: 47%;
			margin-right: 2%;
			margin-bottom: 4%;
		}
		&__email{
			width: 50%;
		}
		&__text{
			margin-bottom: 4%;
			min-height: 180px;
		}
		&__submit{
			padding: 12px 3em;
		}
	}
}
@media screen and(min-width: 960px){
	.plan{ width: 32%; }
	.member{ width: 24%; }
}
@media screen and(min-width: 1440px){
	.banner{
		&__content{
			span{
				width: 28%;
				margin: 1em auto 2.5em;
			}
		}
	}

	.team__wrap,
	.footer__wrap{padding: 0 135px;}
}