$color1: #fff;
$color2: #49cbcd;
$color3: #bface2;
$color4: #f1f1f1;
$color5: #485460;
$color6: #f8f9fb;
$color7: #ecf0f1;
$color8: #8c9299;
$color9: #788492;
$color10: #484c55;
$color11: #4e525d;
$color12: #f46d6d;


$font1: 'Open Sans', sans-serif;
$font2: 'PT Sans', sans-serif;
$semi-bold: 600;