@import 'vars';
@import 'mixins';
@import 'fonts';


body{ font-family: $font1; }
*{ box-sizing: border-box; text-decoration: none; }
a{text-decoration: none;display: inline-block;}

.wrapper{max-width: 1440px; margin: 0 auto;}

// ------------------------- HEADER -------------------------------
@import './parts/_header';

// ------------------------- BANNER -------------------------------
@import './parts/_banner';

// ----------------------- PLANS -------------------------------
@import './parts/_plans';

// ----------------------- TEAM -------------------------------
@import './parts/_team';

// ------------------------- FOOTER -------------------------------
@import './parts/_footer';


@import './parts/_slider';

 
// ------------------------- media queries -------------------------------
@import 'queries';








