@import 'vars';
@import 'mixins';
@import 'fonts';


body{ font-family: $font1; }
*{box-sizing: border-box; margin:0; padding:0; }
a{text-decoration: none;display: inline-block;}

.wrapper{max-width: 1440px; margin: 0 auto;}
.container{
	max-width: 1170px; 
	margin: 0 auto; 
	padding: 0 24px;
	@include mQ(1218px){padding: 0;}
}


@import './parts/header';
@import './parts/carousel';
@import './parts/plans';
@import './parts/team';
@import './parts/footer';
	@import './parts/form';









